*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.main-div{
    height:73vh;
    width:70vw;
    border:5px solid black;
    
    
}
.center-main-div{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}