body {
    background-image: url("./Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    font-family: 'Comic Sans MS';
    overflow: hidden;
    background-color: #5A7A74;
    width: 100%;
    height: 74px;
    ;
}

nav img {
    height: 74px;
    width: 85px;
}

a {
    text-decoration: none;
}

nav a {
    float: right;
    color: #fff;
    padding: 20px 30px 20px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #3B544F;
    font-size: 120%;
    transition: 0.5s;
}
span a:hover{
    transform: scale(1.1);
  transition: .5ms;
}
#login {
    background: #d4d0dd;
    display: block;
    /* margin-top: 75px; */
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#login {
    padding: 15px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    border: none;
    color: white;
}

button:hover {
    transition: 0.5s;
    font-size: 90%;
    opacity: 0.8;
}

a {
    color: white;
}

button.loginbtn,
.signbtn {
    width: 100%;
    height: 30px;
    margin: 5px;
    background-color: rgb(20, 148, 105);
}
button.cancelbtn {
    margin: 5px;
    background-color: rgb(216, 86, 86);
    height: 30px
}
.error-message{
    color:red;
}
input[type=submit]{
    width: 100%;
    height: 30px;
    margin: 5px;
    background-color: rgb(20, 148, 105);
}
.backend-error-message{
    color: red;
    display: block;
}
.message{
    color:green;
}